*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: antiquewhite;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  width: 500px;
  height: 300px;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.image{
  display: flex;
}


.btn {
  position: absolute;
  top:50%;
  font-size: 30px;
  opacity: 0.7;
}

.btn:hover {
  cursor: pointer;
  opacity: 1;
}

.left {
  left:35%;
}

.right {
  right:35%;
}
